__pychache__
/UI/node_modules
/UI/.pnp
/UI/.pnp.js


/UI/coverage

/UI/build

/UI/.DS_Store
/UI/.env.local
/UI/.env.development.local
/UI/.env.test.local
/UI/.env.production.local

/UI/npm-debug.log*
/UI/yarn-debug.log*

classes.txt
keyframe_files.json
objects.json
reversed_objects.json
transcripts.json
colors.json